# Ignore compiled
*.py[cod]

# Ignore installation files
*.egg*

# Ignore dot files
.*

# Except linting and gitignore
!.pylintrc
!.gitignore

# Ignore generated data
data/
dask-worker-space

# Ignore scratchwork
scratch*
