{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Here is a list of all available streams.</h1>
  <form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.selections.label }}<br>
    {{ form.selections(size=10) }}<br>
    {{ form.submit() }}<br><br>
  </form>
  <form method="GET">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form2.selections.label }}<br>
    {{ form2.selections(size=5) }}<br>
  </form>
</div>
{% endblock %}
